@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font: 20px/1 "Roboto", sans-serif;
}

a {
    color: #C1A5A9;
    text-decoration: none;
}

a:hover {
    color: #9A4C95;
}

ul {
    list-style-type: none;
}

/* App Classes */
.hero-image {
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url(http://lorempixel.com/output/abstract-q-c-1200-600-10.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
}

.hero-image__title {
    color: #F08CAE;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-image__subtitle {
    color: #fff;
    font-family: serif;
    font-size: 1.175rem;
}

.main-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
}

.main-header__title {
    color: #F08CAE;
}

.nav__list {
    display: flex;
}

.nav__list-item {
    margin-right: 0.5rem;
}

.nav__list-item:last-child {
    margin-right: 0;
}