* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--dark: #333;

	color: var(--dark);
	font: 14px/1.618 sans-serif;
}
ul {
	list-style: none;
}

footer {
	align-items: center;
	display: flex;
	justify-content: center;
}
header {
	padding: 1rem;
}

.container {
	margin: 0 auto;
	max-width: 700px;
	width: 90%;
}
.wrapper {
	display: grid;
	grid-template-rows: 100px auto 150px;
	min-height: 100vh;
}
